*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ffffff;
  --secondary: #e8e8e8;
  --text-color: #000000;
}

[data-theme="dark"] {
  --primary: #171923;
  --secondary: #18181B;
  --text-color: #ffffff;
}
html, body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
}
button {
  font-weight: 700;
  outline: 0;
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #1A5FFF;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
}
a:-webkit-any-link {
  text-decoration-color: var(--text-color);
}

section {
  padding: 100px 150px;
  color: var(--text-color);
  text-align: center;
}


section h1 {
  font-size: 72px;
  color: #FFFFFFEB;
}

section h3,
div h3 {
  color: var(--text-color);
}

section p,
div p {
  font-size: 20px;
  color: #A0AEC0;
}



label.error {
  font-size: 14px;
  color: #F55050;
  font-weight: normal;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  background: transparent;
  color: var(--text-color);
  font-size: 16px;
}

input.error,
textarea.error {
  border: 1px solid #F55050 !important;
}
span {
  color: var(--text-color);
  text-align: center;
}

.goback {
  position: absolute;
  top: 50px;
  left: 50px;
}

.Toastify {
  width: fit-content !important;
  display: none !important;
}
